<%= simple_form_for :search, url: groups_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="query" id="query" placeholder="Search city, style or teacher" />
    <button name="button" type="submit" class="btn btn-flat">
      <!-- <i class="fas fa-search"></i> --> <i class="fas fa-lotus"></i> Search groups
    </button>
  </div>
<% end %>
